/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Roboto:wght@300;400&display=swap');

body {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

/* heading of the website ovm */
.heading {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 40px;
    color: black;
}

/* subheading of the website */
.sub-heading {
    text-align: center;
    color: black;
}

/* two links of the first page */
.links p {
    color: #91CBD1;
    text-align: center;
    padding: 0px 20px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* image of the first page */
.body_person {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 28%;
    height: 10%;
}

/* image on the second section */
.bird_img {
    width: 50%;
    height: 50%;
    float: left;
}

.sec-2-body {
    display: flex;
}

.underline {
    width: 90%;
    margin: 0px 20px;
    color: #C0DDE1;
}

.content-sec-2 h1 {
    margin-top: 60px;
    margin-left: 17px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: normal;
}

.content-sec-2 .sec-2-body-content {
    padding: 20px 20px;
}

.content-sec-2 .right-aligned-text {
    text-align: right;
    padding: 20px 20px;
}

.sec-2-language-switcher .language-switcher {
    text-align: center;
    height: 4vh;
    width: 3vw;
    border: .1px solid #C0DDE1;
    border-radius: 10px;
    float: left;
    padding: 7px 7px;
    margin: 80px 20px;
}

/* section-3-body styling */
.sec-3 h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
}

.sec-3 h2 {
    color: red;
}

.sec-3 h3 {
    background-color: black;
    color: white;
    width: 20vw;
    margin: auto;
    margin-top: 20px;
    width: 60%;
}

.sec-3 p {
    font-weight: bold;
    margin-top: 5px;
    color: #707070;
}

.sec-3 .watch-btn {
    background-color: red;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
    width: 20%;
}

.sec-3 .notify-btn {
    background-color: #515151;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0px 20px;
    margin-top: 10px;
    width: 20%;
}

.live_tv_svg {
    margin-top: 50px;
    height: 20vh;
}

.sec-3 .stream_txt {
    color: black;

}


.body-3 {
    height: 80vh;
    width: 48vw;
    text-align: center;
    float: left;
    border: 1px solid #E1EEF0;
    background-color: #F5F5F5;
    border: .2px solid #d6d5d5;
}

.body-3-flex {
    display: flex;
    justify-content: space-between;
}

.sec-4 h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
}

.sec-4 h2 {
    color: #7C7C7C;
}

.carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.venues {
    display: flex;
    justify-content: space-around;
}

.venue .venue_heading {
    font-size: 15px;
    font-weight: bolder;
}

.venue .venue_subheads {
    font-size: 15px;
}

.venue-1 .venue_heading-1 {
    font-size: 25px;
    font-weight: bolder;
}

.venue-1 .venue_subheads-1 {
    font-size: 15px;
    font-weight: bold;
}

.venue-3 .venue_heading-3 {
    font-size: 15px;
    font-weight: bolder;
}

.venue-3 .venue_subheads-3 {
    font-size: 15px;
}

.venue_btn {
    background-color: #707070;
    color: white;

}

.venue_btn img {
    width: 5%;
}

.sec-4-img {
    margin-top: 20px;
    width: 20%;
    height: 30%;
    border-radius: 10px;
}

.sec-4-img-2 {
    margin-top: 20px;
    width: 40%;
    height: 30%;
    border-radius: 10px;
}

.sec-4-img-3 {
    margin-top: 20px;
    width: 20%;
    height: 30%;
    border-radius: 10px;
}

.body-5-img {
    width: 45vw;
    margin-top: 10px;
    float: left;
    height: 80vh;
    display: none;
}

.body-5-6-img {
    width: 100%;
    margin-top: 10px;
    height: 80vh;
}

.body-6-img {
    width: 50vw;
    float: right;
    margin-top: 10px;
    height: 80vh;
    display: none;
}

.body-7-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 20vw;
    /* background-color: #515151; */
}

.body-7-header .body-7-container-p-1 {
    text-align: end;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    bottom: 0px;
}

.body-7-header .body-7-container-p-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.body-7-header .body-7-container-p-3 {
    text-align: start;
    font-weight: bold;
    padding-left: 55px;
}

.body-7-content {
    display: flex;
    justify-content: space-evenly;
}

.body-7-content .body-7-content-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 40px;
    margin-top: 30px;
    border-radius: 10px;
}

.body-7-container .body-7-container-p {
    /* margin-top: 20px; */
    text-align: center;
    padding: 50px 80px;
    font-weight: bold;
}

.body-8-img {
    width: 50%;
    height: 100%;
    float: left;
}

.body-8-p {
    padding: 30px 50px;
    float: right;
    width: 41%;
}

.body-8-sub-p {
    text-align: end;
    padding: 0px 30px;
}

.body-8-extras {
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.body-8-extras .body-8-language-switcher {
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 20px 0px;
}

#active {
    background-color: #515151;
    color: white;
}

.body-8-dots {
    display: flex;
    justify-content: center;
}
 
.dot {
    height: 10px;
    width: 10px;
    margin: 0px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-1 {
    width: 32.5%;
    height: 90vh;
    background-color: #FAFAFA;
    text-align: center;
    border: .2px solid #d6d5d5;
}

.card-img {
    width: 100%;
    height: 40%;
}

.card-title {
    font-size: 15px;
}

.card-subheading {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    padding: 5px 80px;
}

.card-content {
    padding: 10px 30px;
}

.card-venue {
    font-weight: bolder;
}

.card-date {
    font-weight: bolder;
    font-size: 15px;
    /* padding-bottom: 20px; */
}

.body-10-img {
    width: 100%;
}

.body-11-content {
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.item {
    margin: 0px 10px;
    cursor: pointer;
}


.body-11-content::-webkit-scrollbar {
    width: 0px;
}

.item-img {
    width: 13vw;
    height: 35vh;
    border-radius: 5px;
}

.item-heading {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.item-subheading {
    font-weight: bolder;
}

#body-12 img {
    width: 100%;
}

.body-13-content {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.body-13-item {
    margin: 0px 10px;
}

.body-13-content::-webkit-scrollbar {
    width: 0px;
}

.body-13-item-img {
    width: 30vw;
    height: 40vh;
    border-radius: 15px;
}

.body-14-content {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
}

.body-14-content::-webkit-scrollbar {
    width: 0px;
}

.body-15-content {
    display: flex;
    justify-content: space-evenly;
}

.body-15-card {
    background-color: #FAFAFA;
    width: 47vw;
    height: 70vh;
    text-align: center;
    border: .2px solid #d6d5d5;
}

.body-15-card-heading {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

.body-15-card-subheading {
    color: #706c6c;
    font-size: 20px;
}

.body-15-card-links {
    color: #95CDD2;
}

.body-15-card-img {
    width: 20vw;
}

/* .body-15-card-bg {
    background-color: #F5F5F5;
    width: 48vw;
    height: 70vh;
    text-align: center;
} */

.body-16-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.body-16-item-img {
    border-radius: 50%;
    width: 15vw;
    height: 35vh;
}

.body-16-item-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.body-17-img {
    width: 100%;
}

/* section-1 */
#body-1 {
    background-color: #FAFAFA;
    margin: 0px 10px;
}

/* section-2 */
#body-2 {
    margin: 20px 10px;
    color: #C0DDE1;
    background-color: black;
}

/* section-3 */
#body-3 {
    margin: 0px 10px;
}

/* section-5 */
#body-5 {
    margin: 0px 10px;
}

/* section-5 2nd image */
#body-6 {
    margin: 0px 10px;
}

/* section-6 */
#body-7 {
    margin: 20px 10px;
    background-color: #F5F5F5;
}

/* section-7 */
#body-8 {
    background-color: #FAFAFA;
    height: 100vh;
    margin: 10px 10px;
}

/* section-8 */
#body-9 {
    margin: 15px 10px;
}

/* section-10 */
#body-10 {
    margin: 15px 10px;
}

/* section-11 */
#body-11 {
    margin: 0px 10px;
}

/* section-12 */
#body-12 {
    margin: 50px 10px;
}

/* section-13 */
#body-15 {
    margin: 10px 10px;
}

/* section-14 */
#body-16 {
    margin: 20px 10px;
    background-color: #FAFAFA;
}

/* media queries */
@media screen and (max-width: 900px) {

    /* section-1 */
    #body-1 {
        margin: 20px 0px;
        background-color: #FAFAFA;
    }

    /* section-2 */
    #body-2 {
        margin: 20px 0px;
    }

    /* section-3 */
    #body-3 {
        margin: 0px 10px;
        width: 100%;
    }

    .body-3-flex {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .body-3 {
        width: 97%;
        height: 70vh;
        margin-top: 20px;
    }

    /* section-4 */
    #body-4 {
        margin: 20px 0px;
        width: 100%;
    }

    /* section-5 */
    #body-5 {
        margin: 20px 0px;
        width: 100%;
    }

    /* section-6 */
    #body-6 {
        margin: 20px 0px;
        width: 100%;
    }

    /* section-7 */
    #body-7 {
        margin: 20px 0px;
    }

    /* section-8 */
    #body-8 {
        margin: 20px 0px;
        height: 100%;
    }

    /* section-9 */
    #body-9 {
        margin: 20px 0px;
    }

    #body-15 {
        background-color: #fff;
    }

    .body-16-item-img {
        width: 20vw;
        height: 18vh;
    }

    .body-15-card {
        height: 35vh;
    }

    .body-13-item-img {
        width: 30vw;
        height: 15vh;
    }

    .item-img {
        width: 30vw;
        height: 20vh;
    }

    .cards {
        display: inline-block;
    }

    .card-1 {
        width: 100%;
        height: 100vh;
        margin-top: 20px;
    }

    .card-img {
        height: 50%;
    }

    .card-content {
        padding: 20px 40px;
        /* line-height: 35px; */
    }

    .card-subheading {
        padding: 10px 40px;
    }

    .body-8-img {
        width: 100%;
        height: 50%;
    }

    .body-8-p {
        float: left;
        width: 90%;
        padding: 30px 30px;
    }

    .body-8-extras .body-8-language-switcher p {
        padding-top: 50px;
    }

    .body-8-extras {
        width: 65vw;
        justify-content: space-evenly;
    }

    .body-7-container .body-7-container-p {
        padding: 50px 30px;
    }

    .body-7-content .body-7-content-img {
        padding: 20px;
    }

    .body-7-header {
        width: 50vw;
    }


    .body-7-header .body-7-container-p-3 {
        text-align: start;
        font-weight: bold;
        padding-left: 20px;
    }

    .sec-2-body {
        display: inline-block;
    }

    .body_person {
        margin-top: 150px;
        width: 70%;
        height: 70%;
    }

    .bird_img {
        width: 100%;
        height: 100%;
    }

    .heading {
        padding-top: 80px;
    }

    .sub-heading {
        padding: 20px 50px;
    }

    .body-5-6-img {
        display: none;
    }

    .body-5-img {
        display: block;
        width: 100%;
    }

    .body-6-img {
        display: block;
        margin-top: 0px;
        width: 100%;
    }

    .sec-3 p {
        padding: 0px 120px;
    }

    .sec-3 .watch-btn {
        width: 30%;
    }

    .sec-3 h3 {
        margin-top: 50px;
    }

    .sec-3 .notify-btn {
        width: 30%;
    }

    .live_tv_svg {
        height: 25vh;
    }

    .body-15-card-heading {
        font-size: 20px;
    }

    .body-15-card-subheading {
        font-size: 18px;
    }

    .body-16-content {
        display: flex;
        flex-direction: column;
    }

    .body-16-item-img {
        margin-top: 20px;
        width: 50vw;
        height: 20vh;
    }

    .body-17-img {
        height: 20vh;
    }

    .content-sec-2-heading {
        position: absolute;
        margin: 20px 20px;
        text-transform: uppercase;
        padding: 0px 40px;
    }

    .underline {
        margin-top: 80px;
        margin-left: 60px;
        width: 80vw;
    }

    .sec-2-body {
        display: flex;
        flex-direction: column;
    }

    .content-sec-2 .sec-2-body-content {
        margin: 10px 10px;
        padding: 10px 50px;
    }

    .content-sec-2 .right-aligned-text {
        text-align: right;
        margin: 10px 50px;
    }

    .content-sec-2 h1 {
        margin: 30px 20px;
    }

    .content-sec-2 .sec-2-language-switcher {
        display: flex;
        justify-content: space-evenly;
    }

    .content-sec-2 .language-switcher {
        height: 3vh;
        width: 6vw;
    }
}

@media screen and (min-width: 700px) {

    /* section-1 */
    #body-1 {
        margin: 20px 10px;
    }

    /* section-2 */
    #body-2 {
        margin: 20px 10px;
    }

    /* section-3 */
    #body-3 {
        margin: 0px 10px;
    }

    /* section-4 */
    #body-4 {
        margin: 20px 10px;
    }

    /* section-7 */
    #body-7 {
        margin: 20px 10px;
    }

    /* section-8 */
    #body-8 {
        margin: 20px 10px;
    }

    /* section-9 */
    #body-9 {
        margin: 20px 10px;
    }

    .body-8-extras {
        justify-content: space-around;
    }
}

@media (min-width: 750px) and (max-width: 900px) {

    /* section-1 */
    #body-1 {
        margin: 20px 10px;
        border: 1px solid #d6d5d5;

    }

    /* section-2 */
    #body-2 {
        margin: 20px 10px;
    }

    /* section-3 */
    #body-3 {
        margin: 0px 10px;
    }

    /* section-4 */
    #body-4 {
        margin: 20px 10px;
    }

    /* section-7 */
    #body-7 {
        border: 1px solid #d6d5d5;
        margin: 20px 10px;
    }

    /* section-8 */
    #body-8 {
        border: 1px solid #d6d5d5;
        margin: 20px 10px;
    }

    /* section-9 */
    #body-9 {
        margin: 20px 10px;
    }

    #body-16 {
        border: 1px solid #d6d5d5;
    }

    .card-venue {
        padding-top: 10rem;
    }

    .item-img {
        width: 30vw;
        height: 30vh;
    }

    .body-16-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 40px;
        text-align: center;
        padding-bottom: 50px;
    }

    .body-16-item-img {
        border-radius: 50%;
        width: 20vw;
        height: 15vh;
    }
}